{% extends "base.html" %}

{% block title %}Error - News Relations{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <i class="fas fa-exclamation-triangle"></i> Configuration Error
            </div>
            <div class="card-body">
                <p>
                    There are configuration errors that need to be fixed before the application can run properly:
                </p>
                <ul class="list-group mb-4">
                    {% for error in errors %}
                        <li class="list-group-item list-group-item-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                
                <h5>How to Fix:</h5>
                <ol>
                    <li>Create a <code>.env</code> file in the application directory based on the <code>.env.example</code> file</li>
                    <li>Set the appropriate values for each configuration setting</li>
                    <li>Make sure the news-items directory exists and contains markdown files</li>
                    <li>Restart the application</li>
                </ol>
                
                <div class="alert alert-info mt-4">
                    <i class="fas fa-info-circle"></i> For more information, please refer to the README file.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 